<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327087351155-aqlb1ptg0uebmrud9kujhraejtgvo8iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327087351155-aqlb1ptg0uebmrud9kujhraejtgvo8iv</string>
	<key>API_KEY</key>
	<string>AIzaSyBjvTJdgWLvGNxK1hK4Zm7llN0IryzapYc</string>
	<key>GCM_SENDER_ID</key>
	<string>327087351155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.shotaroooe.FireStoreBasic</string>
	<key>PROJECT_ID</key>
	<string>firestorebasic-6b5ab</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorebasic-6b5ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327087351155:ios:20bb22a8b44c9a51219106</string>
</dict>
</plist>